@charset "utf-8";
/* 기본 margin 이 8px이 지정되어있음 */
body{
    margin: 0;
}
.container{
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap;
    자식요소들을 움직임 */
    flex-flow: row wrap;
    /* space-around를 사용하면 gutter를 줌 */
    justify-content: space-between;
    /* single line 일때 align- */
    align-content: space-between;
    width: 850px;
    /* grid를 사용하는 것이 더 수월함 */
    margin: 0 auto;
    border: 1px solid black;
}
.box{
    height: 150px;
    width: 200px;
    /* margin-bottom: 15px; */
}
.box:nth-child(odd){
    background-color: yellow;
}
.box:nth-child(even){
    background-color: pink;
}
.box1{
    order: 1;
}
.box8{
    order: -8;
}