@charset "utf-8";
body{
    margin: 0;
}
.container{
    border: 1px solid black;
    margin: 50px;
}
.box1, .box2{
    /* 트랜지션은 시작하는 지점에 사용해야함 */
    width: 200px;
    height: 200px;
    background: yellow;
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    /* transition-property: all;
    transition-duration: 2000ms;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(.34,1.02,.91,.34); */
    transition: all 2000ms 0s cubic-bezier(.34,1.02,.91,.34);
    /* 가로 세로 축이 생겨서 점이 만남, left top right bottom */
    /* border-radius: 50% 0 0 0 / 20% 0 0 0; */

    /* text-align: center;
    line-height: 200px; */
}
.box1:hover, .box1:focus{
    border-radius: 50%;
    background: pink;
    transform: translateX(300px);
}
.box2:hover, .box2:focus{
    border-radius: 50% / 20%;
    background: pink;
    transform: translateX(300px);
}
.box-act{
    border-radius: 50%;
    background: pink;
    transform: translateX(300px);
}
.box-act2{
    border-radius: 50%;
    background: aqua;
    transform: translateX(300px);
}