@charset "utf-8";
*, *:before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    /* 작업을 수월하게 만들기 위해서 속성을 부모에서 받게 미리 설정 */
    font: inherit;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    /* 반응형 이미지로 만들어줌 */
    max-width: 100%;
    height: auto;
    padding: 0.35em;
}
/* 숨긴 콘텐츠 :  */
.readable-hidden{
    position: absolute;
    /* left: -9999em; */
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    /* absolute 일때만 clip 가능 */
    clip: rect(0,0,0,0);
}

body{
    background: url("../images/road.png") no-repeat 0 0 /cover fixed;
}
/* header 공통 */
.header{
    background-color: #fff;
    z-index: 10;
}

/* 광고섹션 공통 */
.ad{
    color: #fff;
    font-size: 3em;
    /* 최소 높이 지정, 컨텐츠 양이 늘어나면 높이가 늘어난다 */
    min-height: 500px;
}
.ad .ad-content{
    /* static이 position의 기본값 */
    position: sticky;
    top: 100px;
    /* justify-content 모델은 display가 flex일때만 적용 */
    text-align: right;
}
/* main 공통 */
.main{
    background-color: #fff;
}
/* footer 공통 */

/* --- 여기까지는 공통부분 --- */

/* 모바일 small 디바이스 */
@media screen and (min-width: 1px) and (max-width: 551px){
    /* 모바일 Small logo  */
    .logo{
        margin: 0;
        width: 35%;
        margin-left: 1em;
    }
    /* 모바일 Small menu  */
    .btn-wrapper{
        position: fixed;
        top: 0.5em;
        right:1em;
        width: 38px;
        height: 38px;
        overflow: hidden;
        z-index: 1;
        background: white;
        border: white solid 2px;
    }
    .btn-menubar{
        border: 0;
        background: transparent;
        padding: 0;
        color: rgba(0,0,0,0);
        cursor: pointer;
    }
    .menubar{
        cursor: pointer;
        position: absolute;
        left:0;
        background-color: #181818;
        border-radius: 10px;
        width: 100%;
        height: 25%;
        transition: 100ms;
    }
    .menubar-top{
        top:0;
    }
    /* 먼저 축을 변경하고 회전시켜야한다. */
    .menubar-act.menubar-top{
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
    .menubar-middle{
        top:50%;
        transform: translateY(-50%);
    }
    /* 조건 두 개가 다 동작할때 띄어쓰기 없이 붙여 써줌 */
    .menubar-act.menubar-middle{
        /* 기존 조건 유지하면서 변화시키려면 다 써줘야함 */
        transform: translate(-100%, -50%);
    }
    .menubar-bottom{
        top:100%;
        transform: translateY(-100%);
    }
    .menubar-act.menubar-bottom{
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        color: transparent;
    }
    .menu{
        background-color: rgba(0,0,0, 0.85);
        position: fixed;
        top: 0;
        left: 0;
        width: 70%;
        height: 100vh;
        z-index: 10;
        color: #fff;
        padding: 3em 0 0 2em;
        transform: translateX(-100%);
        transition: all 200ms;
    }
    .menu-act{
        transform: translateX(0);
    }
    
    .main .box{
        min-height: 100px;
        margin: 1em;
    }
    .box:last-child{
        margin: 0 0 0 1em;
    }

    .footer{
        background: #181818;;
        color: #fff;
        height: 10vh;
    }

}

/* 모바일 디바이스 */
@media screen and (min-width:551px) and (max-width: 999px){
   /* 모바일 로고 */
   .logo{
       width: 50%;
       margin: 0 auto;
   }
   /* 모바일 메뉴 */
   .btn-wrapper{
       display: none;
   }
   .menu{
        display: flex;
        justify-content: space-around;
   }
   .menu a{
       display: block;
       padding: 1em;
       text-transform: uppercase;
   }
   /* 모바일 메인 */
   .main{
       overflow: hidden;
   }
   .box{
       float: left;
       width: 45%;
       height: 150px;
       /* float 되면 margin이 병합되지 않는다 */
       margin: 1em 2.5%;
}
   .box1{
   }
   .footer{
       height: 10vh;
   }
}
/* 데스크탑 디바이스 */
@media screen and (min-width: 1000px){
    /* 데스크탑 헤더 */
   .header{
       display: grid;
       grid-template-areas: "logo    menu";
       align-items: center;
       padding: 1em 2em;
       /* sticky  보통 fixed로 구현할 때는 상단 margin으로 구현 */
       position: sticky;
       width: 100%;
       top: 0;
       left: 0;
   }
   /* 데스크탑 로고 */
   .logo{
       /* area 이름을 정해주면 부모에서 grid-template-area에서 형식을 설정가능 */
       grid-area: logo;
        width: 20%;
   }
   /* 데스크탑 메뉴 */
   .btn-wrapper{
    display: none;
}
   .menu{
       grid-area: menu;
       display: flex;
   }
   .menu a{
       display: block;
       padding: 1em 1em 1em 0;
   }
   /* :: css3 이상에서 적용, block선택 했는때 선택 안되면 css로 만들어준 것 */
   .menu a::before{
       content: "|";
       padding-right: 1em;
   }
   /* content에 아무것도 넣지 않도록 설정 */
   .menu li:first-child a::before{
        content: "";
   }
   .ad{
       height: 50vh;
   }

   /* 데스크탑 메인 */
   .main{
    display: grid;
    grid-template-areas: "box box box box";
    grid-auto-columns: 20%;
    grid-auto-rows: 150px;
    justify-content: space-between;
    grid-row-gap: 20px;
    padding: 2em;
    }
    .main .box{
    background-color: #fff;
   }

/* 데스크탑 푸터 */
   .footer{
       height: 10vh;
   }
}